<template>
  <div class="robot-controls">
    <img
      src="../assets/game_arrow.png"
      class="up-arrow"
      @click="rotateRobo($event, 'up')"
    />
    <br />
    <img
      src="../assets/game_arrow.png"
      class="left-arrow"
      @click="rotateRobo($event, 'left')"
    />
    <img
      src="../assets/game_arrow.png"
      class="right-arrow"
      @click="rotateRobo($event, 'right')"
    />
    <br />
    <img
      src="../assets/game_arrow.png"
      class="down-arrow"
      @click="rotateRobo($event, 'down')"
    />
  </div>
</template>

<script>
export default {
  props: ["position"],
  data() {
    return {
      canClick: true
    };
  },
  methods: {
    rotateRobo(e, direction) {
      var audio = new Audio("../assets/robo-sound.wav");
      audio.play();
      let robo = document.getElementsByClassName("robo")[0];
      let positions = [];
      let transform = 0;
      let pos = 0;
      if (!this.canClick) {
        return false;
      }
      this.canClick = false;
      switch (direction) {
        case "up":
          transform = "rotate(180deg)";
          positions = this.position.split("-");
          pos = parseInt(positions[0]) - 1;
          if (pos > 5 || pos < 1) {
            break;
          }
          positions[0] = pos;
          break;
        case "down":
          transform = "none";
          positions = this.position.split("-");
          pos = parseInt(positions[0]) + 1;
          if (pos > 5 || pos < 1) {
            break;
          }
          positions[0] = pos;
          break;
        case "left":
          transform = "rotate(90deg)";
          positions = this.position.split("-");
          pos = parseInt(positions[1]) - 1;
          if (pos > 5 || pos < 1) {
            break;
          }
          positions[1] = pos;
          break;
        case "right":
          transform = "rotate(-90deg)";
          positions = this.position.split("-");
          pos = parseInt(positions[1]) + 1;
          if (pos > 5 || pos < 1) {
            break;
          }
          positions[1] = pos;
          break;
      }

      this.$emit("placeRobo", positions.join("-"), transform);
      setTimeout(() => {
        this.canClick = true;
      }, 200);
    }
  }
};
</script>

<style>
.robot-controls {
  display: inline-block;
  vertical-align: top;
  padding-top: 190px;
  margin-right: 250px;
}

.robot-controls img {
  height: 100px;
  width: 100px;
}
.robot-controls .left-arrow {
  transform: rotate(180deg);
  padding-left: 100px;
  cursor: pointer;
}
.robot-controls .right-arrow {
  cursor: pointer;
}
.robot-controls .up-arrow {
  transform: rotate(-90deg);
  cursor: pointer;
}
.robot-controls .down-arrow {
  transform: rotate(90deg);
  cursor: pointer;
}
</style>
