<template>
  <div>
    <Controls
      @placeRobo="placeRobo"
      :position="position ? position.id : null"
      v-show="position"
    />
    <table class="table">
      <tr :key="tr" v-for="tr in [1, 2, 3, 4, 5]">
        <td
          :id="tr + '-' + td"
          :key="td"
          v-for="td in [1, 2, 3, 4, 5]"
          @click="placeRobo"
        ></td>
      </tr>
    </table>
  </div>
</template>

<script>
import Controls from "./Controls";
export default {
  components: { Controls },
  data() {
    return {
      position: null
    };
  },
  methods: {
    placeRobo(e, transform) {
      var audio = new Audio(require("../assets/robo-sound.wav"));
      audio.play();
      if (this.position) {
        this.position.classList.remove("robo");
      }

      if (typeof e === "string") {
        let el = document.getElementById(e);
        setTimeout(() => {
          el.classList.add("robo");
        }, 100);
        this.position = el;
        el.style.transform = transform;
      } else {
        e.target.classList.add("robo");
        this.position = e.target;
      }
    }
  }
};
</script>

<style>
.table {
  background-image: url("../assets/table-top.jpg");
  background-size: contain;
  margin-top: 20px;
  display: inline-block;
}

.table td {
  padding: 60px;
  cursor: pointer;
}

.robo {
  background-image: url("../assets/robo.png");
  transition-duration: 0.1s;
  transition-property: transform;
  background-size: contain;
}
</style>
