<template>
  <div>
    <h1>Move Robot Move</h1>
    <em>(Click on table to place robot)</em>
    <br />
    <Table />
  </div>
</template>

<script>
import Table from "./components/Table";
export default {
  name: "App",
  components: { Table }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
